/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/service-unit
/public/tech-image
/public/tech-document
/public/direct-passage
public/storehouse
