/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/tech-document
/public/tech-image
/public/service-unit
/public/storehouse
/public/direct-passage
/public/direct-passage-accident
/public/work-safety-documents
/public/work-safety-reports
/public/disaster-area
/public/material-tool
/public/illegal-building
public/storehouse
